@import '../StyleVariables/Variables.scss';

.title {
    color: $darkGrey;
    font-size: $titleFontSize;
}

.searchInput {
    width: 100%;
    height: 30px;
    color: $lightGrey;
    padding-left: 25px;
}

.inputContainer {
    position: relative;
}